html{
    height: 100%;
    background-color: #5f5f5f;
}
body{
    font-family: "Roboto", sans-serif;
    margin: 0;
}
nav{
    text-align: center;
    border-bottom: 1px solid;
    padding: 16px 0px;
}
.pr_links {
color: white;
text-decoration: unset;
padding: 12px 29px;
display: inline-block;
border: 1px solid;
border-radius: 10px;
margin-right: 12px;
}
a.pr_links.activeMenu {
    background-color: red;
    border-color: red;
    color: white;
}
.text-center{
    text-align: center;
}
.container{
    color: white;
}